/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:4bef7c4481b6d74edfd4d41f7efba304:815ba30cf4df108d9444064f53824ead:8564c5454fe63972052fe1644f29692b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprites"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sp1-2 { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('../sprite/sp1-2.png'); }

.sp1-2-03_bj { width: 640px; height: 1136px; background-position: -1px -1px; }
.sp1-2-04_bj { width: 640px; height: 1136px; background-position: -643px -1px; }
.sp1-2-05_bj { width: 640px; height: 1136px; background-position: -1285px -1px; }
