/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:4bef7c4481b6d74edfd4d41f7efba304:815ba30cf4df108d9444064f53824ead:8564c5454fe63972052fe1644f29692b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprites"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sp2-2 { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('../sprite/sp2-2.png'); }

.sp2-2-09_child_02 { width: 527px; height: 548px; background-position: -1px -1px; }
.sp2-2-09_child_03 { width: 527px; height: 548px; background-position: -1px -551px; }
.sp2-2-07_child_02 { width: 490px; height: 578px; background-position: -530px -1px; }
.sp2-2-07_child_03 { width: 490px; height: 578px; background-position: -1px -1101px; }
.sp2-2-10_child_03 { width: 461px; height: 510px; background-position: -530px -581px; }
.sp2-2-04_child_01 { width: 482px; height: 478px; background-position: -1022px -1px; }
.sp2-2-10_child_02 { width: 447px; height: 480px; background-position: -1506px -1px; }
.sp2-2-04_child_02 { width: 482px; height: 438px; background-position: -1022px -481px; }
.sp2-2-10_child_01 { width: 461px; height: 446px; background-position: -1506px -483px; }
.sp2-2-01_insignia { width: 447px; height: 301px; background-position: -993px -921px; }
.sp2-2-08_child_01 { width: 523px; height: 426px; background-position: -1442px -931px; }
.sp2-2-10_child_04 { width: 447px; height: 480px; background-position: -493px -1101px; }
.sp2-2-08_child_02 { width: 523px; height: 426px; background-position: -942px -1359px; }
.sp2-2-08_child_03 { width: 523px; height: 426px; background-position: -1467px -1359px; }
