/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:4bef7c4481b6d74edfd4d41f7efba304:815ba30cf4df108d9444064f53824ead:8564c5454fe63972052fe1644f29692b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprites"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sp3-1 { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('../sprite/sp3-1.png'); }

.sp3-1-09_cloud { width: 436px; height: 199px; background-position: -1px -1px; }
.sp3-1-01_copy_02 { width: 433px; height: 29px; background-position: -439px -1px; }
.sp3-1-11_copy_15 { width: 364px; height: 244px; background-position: -874px -1px; }
.sp3-1-00_cloud_02 { width: 284px; height: 87px; background-position: -439px -32px; }
.sp3-1-11_copy_01 { width: 271px; height: 83px; background-position: -439px -121px; }
.sp3-1-11_copy_yh { width: 250px; height: 82px; background-position: -1px -202px; }
.sp3-1-11_copy_05_9_10 { width: 364px; height: 67px; background-position: -253px -206px; }
.sp3-1-07_copy_01 { width: 243px; height: 78px; background-position: -619px -206px; }
.sp3-1-00_cloud_03 { width: 81px; height: 30px; background-position: -712px -121px; }
.sp3-1-01_copy_01 { width: 358px; height: 78px; background-position: -253px -275px; }
.sp3-1-02_copy_01 { width: 243px; height: 77px; background-position: -1px -286px; }
.sp3-1-11_copy_03_1_5 { width: 336px; height: 67px; background-position: -1240px -1px; }
.sp3-1-06_copy_01 { width: 298px; height: 78px; background-position: -1578px -1px; }
.sp3-1-03_copy_01 { width: 268px; height: 77px; background-position: -1240px -70px; }
.sp3-1-04_copy_01 { width: 268px; height: 77px; background-position: -1510px -81px; }
.sp3-1-08_copy_01 { width: 266px; height: 77px; background-position: -1240px -149px; }
.sp3-1-09_copy_01 { width: 266px; height: 77px; background-position: -1508px -160px; }
.sp3-1-05_copy_01 { width: 243px; height: 77px; background-position: -1240px -228px; }
.sp3-1-10_copy_01 { width: 243px; height: 77px; background-position: -864px -247px; }
.sp3-1-10_copy_04 { width: 249px; height: 68px; background-position: -613px -286px; }
.sp3-1-11_copy_04_6_8 { width: 336px; height: 67px; background-position: -246px -355px; }
.sp3-1-09_copy_04 { width: 242px; height: 68px; background-position: -1px -365px; }
.sp3-1-11_copy_02 { width: 328px; height: 53px; background-position: -1485px -239px; }
.sp3-1-02_copy_04 { width: 259px; height: 69px; background-position: -1776px -160px; }
.sp3-1-03_copy_04 { width: 257px; height: 69px; background-position: -1780px -81px; }
.sp3-1-00_cloud_01 { width: 190px; height: 55px; background-position: -1815px -231px; }
.sp3-1-01_copy_03 { width: 224px; height: 27px; background-position: -1815px -288px; }
.sp3-1-04_copy_04 { width: 254px; height: 70px; background-position: -1485px -294px; }
.sp3-1-06_copy_04 { width: 254px; height: 68px; background-position: -1741px -317px; }
.sp3-1-05_copy_04 { width: 253px; height: 68px; background-position: -1109px -307px; }
.sp3-1-11_copy_yh01 { width: 301px; height: 66px; background-position: -1364px -366px; }
.sp3-1-08_copy_04 { width: 240px; height: 68px; background-position: -864px -326px; }
.sp3-1-07_copy_04 { width: 252px; height: 68px; background-position: -1106px -377px; }
.sp3-1-01_copy_04 { width: 253px; height: 64px; background-position: -584px -356px; }
